<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Dashboard</title>    
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/admin-assets/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/admin-assets/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/admin-assets/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/admin-assets/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/admin-assets/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/admin-assets/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- Layout styles -->
    <link rel="stylesheet" href="/admin-assets/assets/css/style.css">
    <!-- Mini Icon -->
    <link rel="shortcut icon" href="/admin-assets/assets/images/favicon.png" />

    <!-- Cropper.js CSS -->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">

    <style>
      .image-preview img {
        max-width: 100%; /* Ensure the image fits within the container */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Remove extra space below the image */
      }
      .img-container {
  max-width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
#imageToCrop {
  max-width: 100%;
}
    </style>

  </head>
  <body>
    <div class="container-scroller">
      <!-- Sidebar Started -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="/admin"><img src="/admin-assets/assets/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/admin-assets/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="/admin-assets/assets/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                  <span>Gold Member</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/users">
              <span class="menu-icon">
                <i class="mdi mdi-account-multiple"></i>
              </span>
              <span class="menu-title">Customers</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/category">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">Category</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/brands">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span class="menu-title">Brands</span>
            </a>
          </li>
          <li class="nav-item menu-items active">
            <a class="nav-link" href="/admin/addProducts">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
              <span class="menu-title">Add Product</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title">Products</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="admin-assets/pages/icons/mdi.html">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
              <span class="menu-title">Coupon</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="admin-assets/pages/icons/mdi.html">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
              <span class="menu-title">Banner</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="admin-assets/pages/icons/mdi.html">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
              <span class="menu-title">Orders</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- Siderbar Ends -->

      <!-- Container Body Started -->
      <div class="container-fluid page-body-wrapper">
        <!-- Navbar Started -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="/admin"><img src="/admin-assets/assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Search products">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown d-none d-lg-block">
                <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-bs-toggle="dropdown" aria-expanded="false" href="#">+ Add New Product</a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                  <h6 class="p-3 mb-0">Projects</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-file-outline text-primary"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Software Development</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-web text-info"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">UI Development</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-layers text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Software Testing</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all projects</p>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="/admin-assets/assets/images/faces/face15.jpg" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Henry Klein</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="#">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="/admin/logout">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- Navbar Ends -->

         <!-- Content Started -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Add Product</h3>
            </div>
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add New Product</h4>
                    <p class="card-description"> Enter the details</p>
                    <form class="forms-sample" method="post" action="/admin/addProducts" enctype="multipart/form-data" onsubmit="validateForm()">
                      <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="productName">
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleSelectGender">Brand</label>
                        <select class="form-control" id="exampleSelectGender" name="brand">
                          <%for(let i=0;i<brand.length;i++){%>
                            <option value="<%=brand[i].brandName%>">
                              <%=brand[i].brandName%>
                            </option>
                          <%}%>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="5" placeholder="Type here" id="descriptionid"></textarea>
                      </div>
                      
                      <!-- Current Price -->
                      <div class="form-group row">
                        <!-- Current Price -->
                        <div class="col-md-3 mb-3">
                          <label for="regularPrice">Regular Price</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span> <!-- Dollar sign -->
                            </div>
                            <input type="number" class="form-control" id="regularPrice" placeholder="Regular Price" oninput="validateNumber(this)" name="regularPrice">
                          </div>
                        </div>
                      
                        <!-- Sale Price -->
                        <div class="col-md-3 mb-3">
                          <label for="salePrice">Sale Price</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span> <!-- Dollar sign -->
                            </div>
                            <input type="number" class="form-control" id="salePrice" placeholder="Sale Price" oninput="validateNumber(this)" name="salePrice">
                          </div>
                        </div>
                      
                        <!-- Quantity -->
                        <div class="col-md-3 mb-3">
                          <label for="quantity">Quantity</label>
                          <input type="number" class="form-control" id="quantity" placeholder="Quantity" name="quantity ">
                        </div>
                      
                        <!-- Color -->
                        <div class="col-md-3 mb-3">
                          <label for="color">Color</label>
                          <input type="text" class="form-control" id="color" placeholder="Color" name="color">
                        </div>
                      </div>
                      
                      
                      <div class="form-group">
                        <label for="exampleSelectGender">Category</label>
                        <select class="form-control" id="exampleSelectGender" name="category">
                          <%for(let i=0;i<category.length;i++){%>
                            <option value="<%=category[i].name%>">
                              <%=category[i].name%>
                            </option>
                          <%}%>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Choose Images</label>
                        <div class="row" id="imageUploadContainer">
                          <!-- Initial 4 upload fields -->
                          <div class="col-md-6 mb-3">
                            <div class="input-group">
                              <input class="form-control file-upload-info" placeholder="Upload Image" type="text" disabled>
                              <input class="form-control file-upload-info" type="file" name="image" style="display: none;">
                              <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                              </span>
                            </div>
                            <div class="image-preview mt-2" style="width: 100%;"></div> <!-- Image preview container -->
                          </div>
                          <div class="col-md-6 mb-3">
                            <div class="input-group">
                              <input class="form-control file-upload-info" placeholder="Upload Image" type="text" disabled>
                              <input class="form-control file-upload-info" type="file" name="image" style="display: none;">
                              <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                              </span>
                            </div>
                            <div class="image-preview mt-2" style="width: 100%;"></div> <!-- Image preview container -->
                          </div>
                          <div class="col-md-6 mb-3">
                            <div class="input-group">
                              <input class="form-control file-upload-info" placeholder="Upload Image" type="text" disabled>
                              <input class="form-control file-upload-info" type="file" name="image" style="display: none;">
                              <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                              </span>
                            </div>
                            <div class="image-preview mt-2" style="width: 100%;"></div> <!-- Image preview container -->
                          </div>
                          <div class="col-md-6 mb-3">
                            <div class="input-group">
                              <input class="form-control file-upload-info" placeholder="Upload Image" type="text" disabled>
                              <input class="form-control file-upload-info" type="file" name="image" style="display: none;">
                              <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                              </span>
                            </div>
                            <div class="image-preview mt-2" style="width: 100%;"></div> <!-- Image preview container -->
                          </div>
                        </div>
                      
                        <!-- Add More Images Button -->
                        <div class="text-center mt-3">
                          <button type="button" class="btn btn-secondary" id="addMoreImagesBtn">Add More Images</button>
                        </div>
                      
                        <div id="logo-error" class="error-message" style="color: rgb(235, 54, 54); font-size: small;"></div>

                        <!-- Cropper Modal -->
                        <div class="modal fade" id="cropperModal" tabindex="-1" role="dialog" aria-labelledby="cropperModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="cropperModalLabel">Crop Image</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="img-container">
                                  <img id="imageToCrop" src="" alt="Image to Crop">
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="cropImageBtn">Crop</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2" onclick="validateAndSubmit()">Submit</button>
                      <a class="btn btn-dark" onclick="location.reload()">Cancel</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
        </div>
        <!-- Content Ends -->
      </div>
      <!-- Container Body Ends -->
    </div>
  
    <!-- Jquery & Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    

    <!-- Plugin js for this page -->
    <script src="/admin-assets/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/admin-assets/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/admin-assets/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/admin-assets/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/admin-assets/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>


    <!-- Inject js -->
    <script src="/admin-assets/assets/js/off-canvas.js"></script>
    <script src="/admin-assets/assets/js/hoverable-collapse.js"></script>
    <script src="/admin-assets/assets/js/settings.js"></script>
    <script src="/admin-assets/assets/js/todolist.js"></script>

    <!-- Cropper.js JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    <script>
      function validateNumber(input) {
        // Remove any non-numeric characters (e.g., letters, symbols)
        let value = input.value.replace(/[^0-9]/g, '');

        // Remove leading zeros (e.g., "00123" becomes "123")
        value = value.replace(/^0+/, '');

        // If the value is empty after removing leading zeros, set it to "0"
        if (value === '') {
          value = '0';
        }
      
        // Prevent more than one leading zero (e.g., "00" becomes "0")
        if (value.startsWith('00')) {
          value = '0';
        }
      
        // Update the input value
        input.value = value;
      }
    
      let cropper;
      let currentInput;

      function handleFileInputChange(input) {
        const file = input.files[0];
        currentInput = input;
      
        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            const imageToCrop = document.getElementById('imageToCrop');
            imageToCrop.src = e.target.result;
            $('#cropperModal').modal('show');
          };
          reader.readAsDataURL(file);
        }
      }

      document.addEventListener('DOMContentLoaded', function () {
        const container = document.getElementById('imageUploadContainer');
        const addMoreImagesBtn = document.getElementById('addMoreImagesBtn');
      
        container.addEventListener('click', function (event) {
          if (event.target.classList.contains('file-upload-browse')) {
            triggerFileInput(event.target);
          }
        });
      
        container.addEventListener('change', function (event) {
          if (event.target.type === 'file') {
            handleFileInputChange(event.target);
          }
        });
      
        addMoreImagesBtn.addEventListener('click', addMoreImages);
      
        $('#cropperModal').on('shown.bs.modal', function () {
          const imageToCrop = document.getElementById('imageToCrop');
          cropper = new Cropper(imageToCrop, {
            aspectRatio: 1,
            viewMode: 1,
          });
        }).on('hidden.bs.modal', function () {
          cropper.destroy();
          cropper = null;
        });
      
        document.getElementById('cropImageBtn').addEventListener('click', function () {
          const canvas = cropper.getCroppedCanvas();
          const previewContainer = currentInput.closest('.col-md-6').querySelector('.image-preview');
          canvas.toBlob(function (blob) {
            const url = URL.createObjectURL(blob);
            previewContainer.innerHTML = `<img src="${url}" class="img-fluid">`;
            const displayInput = currentInput.closest('.input-group').querySelector('input[type="text"][disabled]');
            displayInput.value = currentInput.files[0].name;
            currentInput.files = new FileListItems([new File([blob], currentInput.files[0].name)]);
            $('#cropperModal').modal('hide');
          });
        });
      });

      function triggerFileInput(button) {
        const fileInput = button.closest('.input-group').querySelector('input[type="file"]');
        fileInput.click();
      }

      function addMoreImages() {
        const container = document.getElementById('imageUploadContainer');
        const newField = `
          <div class="col-md-6 mb-3">
            <div class="input-group">
              <input class="form-control file-upload-info" placeholder="Upload Image" type="text" disabled>
              <input class="form-control file-upload-info" type="file" name="image" style="display: none;">
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
              </span>
            </div>
            <div class="image-preview mt-2" style="width: 100%;"></div> <!-- Image preview container -->
          </div>
        `;
        container.insertAdjacentHTML('beforeend', newField);
      }

      // Helper function to create a FileList from an array of files
      function FileListItems(files) {
        const b = new ClipboardEvent("").clipboardData || new DataTransfer();
        for (let i = 0, len = files.length; i < len; i++) b.items.add(files[i]);
        return b.files;
      }

      function validateAndSubmit(){
        if(validateForm){
          document.forms[0].submit()
        }
      }

      function validateForm() {
        clearErrorMessages();
        const name = document.getElementsByName('productName')[0].value;
        const description = document.getElementById('descriptionid').value;
        const brand = document.getElementsByName('brand')[0].value;
        const price = document.getElementsByName('regularPrice')[0].value;
        const saleprice = document.getElementsByName('salePrice')[0].value;
        const color = document.getElementsByName('color')[0].value;
        const category = document.getElementsByName('category')[0].value;
        const images = document.getElementById('input1')
        const quantity=document.getElementsByName('quantity')
        let isValid = true
        if (name.trim() === "") {
          displayErrorMessage('productName-error', 'Please enter a product name.');
          isValid = false;
        } else if (!/^[a-zA-Z\s]+$/.test(name.trim())) {
          displayErrorMessage('productName-error', 'Product name should contain only alphabetic characters.');
          isValid = false;
        }
            
        if (description.trim() === "") {
          displayErrorMessage('description-error', 'Please enter a product description.');
          isValid = false;
        } else if (!/^[a-zA-Z\s]+$/.test(description.trim())) {
          displayErrorMessage('description-error', 'Product description should contain only alphabetic characters.');
          isValid = false;
        }

        if ( parseInt(quantity) < 0) {
            displayErrorMessage('quantity-error', 'Please enter a valid non-negative quantity.');
            isValid = false;
        }
        
        if (!/^\d+(\.\d{1,2})?$/.test(price) || parseFloat(price) < 0) {
            displayErrorMessage('regularPrice-error', 'Please enter a valid non-negative price.');
            isValid = false;
        }
  
        if (!/^\d+(\.\d{1,2})?$/.test(saleprice) || parseFloat(saleprice) < 0) {
            displayErrorMessage('salePrice-error', 'Please enter a valid non-negative price.');
            isValid = false;
        }
        
        if (parseFloat(price) <= parseFloat(saleprice)) {
          displayErrorMessage('regularPrice-error', 'Regular price must be greater than sale price.');
          isValid = false;
        }
  
  
        if (color.trim() === "") {
            displayErrorMessage('color-error', 'Please enter a color.');
            isValid = false;
        }
  
  
        if (images.files.length === 0) {
            displayErrorMessage("images-error",'Please select an image.');
            isValid = false;
        }
        
        return isValid;
      }


      function displayErrorMessage(elementId, message) {
        var errorElement = document.getElementById(elementId);
        errorElement.innerText = message;
        errorElement.style.display = "block";
      }
  
  
      function clearErrorMessages() {
        const errorElements = document.getElementsByClassName('error-message');
        Array.from(errorElements).forEach(element => {
            element.innerText = '';
        });
        const errorMessage = document.getElementById('errorMessage');
      }



    </script>
    
  </body>
</html>