<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
  background: #eee;
  /* This is just a helper in case the element has a transparent background or white colors. */
}

:root {
  --encore-body-font-stack: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr,     CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,     sans-serif;
  --fallback-fonts: ;
  --encore-button-corner-radius: ;
}

.bnvbjc, .gpklKx, .hvvTXU {
  overflow-wrap: anywhere;
}

#root {
  min-height: 100vh;
}

.encore-dark-theme .encore-bright-accent-set {
  --decorative-base: #000000;
  --essential-subdued: #000000;
  --essential-base: #000000;
  --text-bright-accent: #000000;
  --text-subdued: #000000;
  --text-base: #000000;
  --background-press: #1abc54;
  --background-highlight: #3be477;
  --background-base: #1ed760;
}

.encore-layout-themes {
  --encore-corner-radius-base: 4px;
  --encore-control-size-base: 48px;
  --encore-spacing-looser-2: 24px;
  --encore-spacing-looser: 20px;
  --encore-spacing-tighter: 12px;
  --encore-spacing-tighter-2: 8px;
  --encore-graphic-size-decorative-base: 24px;
  --encore-border-width-hairline: 1px;
  --encore-text-size-base: 1rem;
  --encore-text-size-smaller: 0.8125rem;
  --encore-text-size-smaller-2: 0.6875rem;
}

@media (min-width: 768px) {
  .encore-layout-themes {
    --encore-corner-radius-base: 4px;
    --encore-control-size-base: 48px;
    --encore-spacing-looser-2: 32px;
    --encore-spacing-looser: 24px;
    --encore-spacing-tighter: 12px;
    --encore-spacing-tighter-2: 8px;
    --encore-graphic-size-decorative-base: 24px;
    --encore-border-width-hairline: 1px;
    --encore-text-size-base: 1rem;
    --encore-text-size-smaller: 0.875rem;
    --encore-text-size-smaller-2: 0.75rem;
  }
}

.encore-text {
  color: inherit;
  margin-block-end: 0;
  margin-block-start: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.encore-text-body-medium {
  font-family: var(--encore-body-font-stack);
  font-size: var(--encore-text-size-base);
  font-weight: 400;
}

.encore-text-body-medium-bold, .encore-text-body-small-bold, .encore-text-marginal {
  font-family: var(--encore-body-font-stack);
  font-size: var(--encore-text-size-base);
  font-weight: 700;
}

.encore-text-body-small-bold, .encore-text-marginal {
  font-size: var(--encore-text-size-smaller);
}

.encore-text-marginal {
  font-size: var(--encore-text-size-smaller-2);
  font-weight: 400;
}

.encore-internal-color-text-subdued {
  color: var(--text-subdued);
}

*, ::after, ::before {
  box-sizing: border-box;
}

body, button, textarea {
  font-family: var(--encore-body-font-stack);
}

body {
  background-color: var(--background-base, #ffffff);
  height: 100%;
  margin: 0;
}

.grecaptcha-badge {
  visibility: hidden;
}

.cgOuFc {
  align-items: center;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.cgOuFc:hover:not([disabled]), .cgOuFc[href] {
  text-decoration: underline;
}

.cgOuFc[href]:hover {
  color: var(--text-bright-accent, #107434);
  text-decoration: underline;
}

.cgOuFc[href]:focus {
  box-shadow: 0 3px 0 0;
  outline: 0;
  transition: box-shadow 200ms ease-in;
  transition-behavior: normal;
}

.cgOuFc[href]:focus.cgOuFc[href]:focus {
  text-decoration: none;
}

.cgOuFc[href]:active {
  color: var(--text-bright-accent, #107434);
}

.ZujEm {
  height: var(--encore-graphic-size-decorative-base, 24px);
  width: var(--encore-graphic-size-decorative-base, 24px);
  fill: currentcolor;
}

.gJnrqA, .hFRjpO, .hvvTXU {
  border-radius: var(--encore-button-corner-radius, 9999px);
  box-sizing: border-box;
}

.gJnrqA {
  background-color: transparent;
  block-size: calc(100% + 12px);
  border: 3px solid transparent;
  display: block;
  inline-size: calc(100% + 12px);
  left: -6px;
  pointer-events: none;
  position: absolute;
  top: -6px;
  transition: border-color 200ms ease-in;
  transition-behavior: normal;
}

.hFRjpO, .hvvTXU {
  position: relative;
  transition-duration: 33ms;
  -webkit-tap-highlight-color: transparent;
}

.hvvTXU {
  align-items: center;
  background-color: var(--background-base, #1ed760);
  color: var(--text-base, #000000);
  display: flex;
  font-size: inherit;
  justify-content: center;
  min-block-size: var(--encore-control-size-base, 48px);
  padding-block-end: var(--encore-spacing-tighter-2, 8px);
  padding-block-start: var(--encore-spacing-tighter-2, 8px);
  padding-inline-end: var(--encore-spacing-looser-2, 32px);
  padding-inline-start: var(--encore-spacing-looser-2, 32px);
  transition: background-color, transform;
}

.hFRjpO {
  align-self: center;
  background-color: transparent;
  border-style: initial;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  min-inline-size: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transform: translate3d(0, 0, 0);
  transition: background-color, border-color, color, box-shadow, filter, transform;
  user-select: none;
  vertical-align: middle;
}

.hFRjpO:focus {
  outline: 0;
}

.hFRjpO:hover .ButtonFocus-sc-2hq6ey-0, .hFRjpO:hover .ButtonInner-sc-14ud5tc-0 {
  transform: scale(1.04);
}

.hFRjpO:hover .ButtonInner-sc-14ud5tc-0 {
  background-color: var(--background-highlight, #3be477);
}

.hFRjpO:active .ButtonInner-sc-14ud5tc-0 {
  background-color: var(--background-press, #1abc54);
  box-shadow: none;
  transform: scale(1);
}

.hFRjpO:active .ButtonFocus-sc-2hq6ey-0 {
  transform: scale(1);
}

.hFRjpO:focus .ButtonFocus-sc-2hq6ey-0 {
  border-color: transparent;
}

.bnvbjc {
  align-items: center;
  background-color: transparent;
  border-radius: var(--encore-button-corner-radius, 9999px);
  border-style: initial;
  border-width: 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-block-size: var(--encore-control-size-base, 48px);
  min-inline-size: 0;
  padding-block-end: var(--encore-spacing-tighter, 12px);
  padding-block-start: var(--encore-spacing-tighter, 12px);
  padding-inline-end: 0;
  padding-inline-start: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transform: translate3d(0, 0, 0);
  transition-duration: 33ms;
  transition-property: background-color, border-color, color, box-shadow, filter, transform;
  user-select: none;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.bnvbjc:hover {
  color: var(--text-base, #000000);
  transform: scale(1.04);
}

.bnvbjc, .bnvbjc:active {
  color: var(--text-subdued, #656565);
}

.bnvbjc:active {
  opacity: .7;
  outline: 0;
  transform: scale(1);
}

.bnvbjc:focus, .gpklKx:focus {
  outline: 0;
}

.bnvbjc::after {
  border-bottom: 3px solid transparent;
  bottom: 5px;
  box-sizing: border-box;
  content: "";
  display: block;
  inline-size: 24px;
  pointer-events: none;
  position: absolute;
  transition: border-color 200ms ease-in;
  transition-behavior: normal;
  width: 100%;
}

.bnvbjc:focus::after {
  border-color: inherit;
}

.hKVcO {
  display: flex;
}

.gpklKx, .gpklKx::after {
  background-color: transparent;
  border-radius: var(--encore-button-corner-radius, 9999px);
  border-style: solid;
  box-sizing: border-box;
}

.gpklKx {
  border-image: none 100% 1 0 stretch;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  border-color: #7c7c7c;
  border-width: 1px;
  color: var(--text-base, #000000);
  cursor: pointer;
  display: inline-flex;
  inline-size: 100%;
  justify-content: center;
  min-block-size: var(--encore-control-size-base, 48px);
  min-inline-size: 0;
  padding-block-end: calc(var(--encore-spacing-tighter-2, 8px) - 1px);
  padding-block-start: calc(var(--encore-spacing-tighter-2, 8px) - 1px);
  padding-inline-end: calc(var(--encore-spacing-looser-2, 32px) - 1px);
  padding-inline-start: calc(var(--encore-spacing-looser-2, 32px) - 1px);
  position: relative;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  transform: translate3d(0, 0, 0);
  transition-duration: 33ms;
  transition-property: background-color, border-color, color, box-shadow, filter, transform;
  user-select: none;
  vertical-align: middle;
}

.gpklKx::after {
  block-size: calc(100% + calc(12px + (2*var(--encore-border-width-hairline, 1px))));
  border-color: transparent;
  border-width: 3px;
  content: "";
  display: block;
  inline-size: calc(100% + calc(12px + (2*var(--encore-border-width-hairline, 1px))));
  left: calc(-6px - var(--encore-border-width-hairline, 1px));
  pointer-events: none;
  position: absolute;
  top: calc(-6px - var(--encore-border-width-hairline, 1px));
  transition: border-color 200ms ease-in;
  transition-behavior: normal;
}

.gpklKx:focus::after {
  border-color: #7c7c7c;
}

.gpklKx:active, .gpklKx:hover {
  border: 1px solid #7c7c7c;
  border-image: none 100% 1 0 stretch;
}

.gpklKx:hover {
    box-shadow: inset 0 0 0 1px var(--essential-base, #000000);
}

.gpklKx:active {
  opacity: .7;
  outline: 0;
  transform: scale(1);
}

.jlTKeD {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border-style: initial;
  border-width: 0;
}

.dTRcop, .ebSvva {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.dTRcop {
  padding-block-end: var(--encore-spacing-looser, 24px);
}

.ebSvva {
  align-items: center;
  display: flex;
  inline-size: 100%;
  padding-block-end: var(--encore-spacing-tighter-2, 8px);
}

@media (max-width: 767px) {
  .ebSvva {
    justify-content: space-between;
  }
}

.kuCWup {
  display: inline-block;
}

.jIWbvU {
  color: #fff;
  display: flex;
  flex-direction: column;
}

@media (-ms-high-contrast:none), (-ms-high-contrast:active) {
  .jIWbvU {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.jTGUSl {
  background-color: var(--background-base, #ffffff);
  border-radius: 15px;
  color: black;
  padding-bottom: 32px;
  row-gap: normal;
}

@media (max-width: 767px) {
  .jTGUSl {
    padding-bottom: 0;
    box-shadow: none !important;
  }
}

.irpyNJ {
  padding: 32px;
  text-align: center;
}

.irpyNJ, .irpyNJ a {
  color: #b3b3b3;
}

.cyUyia {
  letter-spacing: 0;
  text-transform: none;
}

.gWxmho {
  border-bottom-width: initial;
  border-color: initial;
  border-left-width: initial;
  border-right-width: initial;
  border-style: none;
  border-top: 1px solid #292929;
  margin: 32px 100px;
}

@media (max-width: 767px) {
  .gWxmho {
    margin: 32px 0;
  }
}

.itwVFE, .kyvYle {
  margin-top: 0;
  text-align: center;
}

.itwVFE {
  font-family: SpotifyMixUITitle, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif);
  margin-bottom: 32px;
}

.kraIJY {
  color: #fff;
  display: inline;
}

.ifVOsT {
  align-items: center;
  column-gap: 10px;
  display: flex;
  flex-direction: row;
}

.gLIwsz {
  color: rgba(0, 0, 0, 85%);
  font-size: 1rem;
  letter-spacing: normal;
  margin: auto;
  text-transform: none;
}

.gcMohz {
  margin: 0 auto;
  padding-bottom: 0;
  width: 324px;
}

@media (max-width: 767px) {
  .gcMohz {
    width: 100%;
  }
}

.bSfdyE {
  padding-bottom: 16px;
}

.bSfdyE label {
  color: #fff;
}

.bSfdyE input:placeholder-shown {
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .dssuKg {
    align-items: end;
  }
}

.ilTmUK {
  margin-top: 0;
}

.egGRlx {
  display: flex;
  justify-content: center;
}

.fVbbtc button {
  width: 100%;
}

@media (min-width: 768px) {
  .fVbbtc button {
    width: auto;
  }
}

.leTZEG {
  padding-block-end: 32px;
  text-align: center;
}

.ecQehz {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  row-gap: normal;
  text-indent: 0;
  width: 324px;
}

@media (max-width: 767px) {
  .ecQehz {
    width: 100%;
  }
}

.itDfMP {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.geXsAV {
  margin-block-end: 24px;
}

.geXsAV p:hover {
  color: #1ed760;
}

.ghuOx {
  margin-left: 8px;
}

@media (max-width: 767px) {
  .klSGTe {
    display: block;
  }
}

.ewqcub {
  padding-block-end: 16px;
}

.gVyyKq {
  background-color: var(--background-base, #ffffff);
  border-radius: var(--encore-corner-radius-base, 4px);
  box-shadow: inset 0 0 0 1px var(--essential-subdued, #818181);
  color: var(--text-base, #000000);
  margin-block-end: 0;
  margin-block-start: 0;
  min-block-size: var(--encore-control-size-base, 48px);
  padding-block-end: var(--encore-spacing-tighter, 12px);
  padding-block-start: var(--encore-spacing-tighter, 12px);
  padding-inline-end: var(--encore-spacing-tighter, 12px);
  padding-inline-start: var(--encore-spacing-tighter, 12px);
  transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  background-image: none;
  border-style: initial;
  border-width: 0;
  box-sizing: border-box;
  display: block;
  inline-size: 100%;
  transition-behavior: normal, normal;
}

.gVyyKq::placeholder {
  color: var(--text-subdued, #656565);
  opacity: 1;
}

.gVyyKq:focus, .gVyyKq:hover:focus {
  outline: 0;
}

.gVyyKq:disabled {
  cursor: not-allowed;
}

.gVyyKq:hover {
  box-shadow: inset 0 0 0 2px var(--essential-base, #000000);
}

.gVyyKq:focus {
  box-shadow: inset 0 0 0 2px var(--essential-base, #000000);
}

.gVyyKq:disabled, input:disabled+.gyyaHh {
  box-shadow: inset 0 0 0 1px var(--essential-subdued, #818181);
  opacity: .3;
}

.gyyaHh {
  color: var(--text-subdued, #656565);
  display: flex;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.gyyaHh .Svg-sc-ytk21e-0 {
  display: block;
}

.cUEVVf {
  position: relative;
  width: 100%;
}

.cUEVVf .Input-sc-1gbx9xe-0 {
  padding-right: calc(24px + var(--encore-spacing-tighter, 12px)*2);
}

.dONESo {
  padding-bottom: 8px;
}

.jlGQTA {
  stroke: transparent;
  fill: var(--decorative-base, #000000);
}

.fOTTpQ {
  margin-bottom: 8px;
}

.blvHhQ, .kdNBmm, .ktpiBh {
  background-color: initial;
  background-image: url(https://accounts.scdn.co/sso/images/new-google-icon.72fd940a229bc94cf9484a3320b3dccb.svg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 1.5rem;
  width: 1.5rem;
}

.kdNBmm, .ktpiBh {
  background-image: url(https://accounts.scdn.co/sso/images/new-facebook-icon.eae8e1b6256f7ccf01cf81913254e70b.svg);
}

.kdNBmm {
  background-image: url(https://accounts.scdn.co/sso/images/new-apple-icon.e356139ea90852da2e60f1ff738f3cbb.svg);
}

.iDuImO {
  border-bottom-color: initial;
  border-bottom-style: none;
  border-bottom-width: initial;
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  padding-top: 32px;
  width: 100%;
}

@media (max-width: 768px) {
  .iDuImO {
    padding-bottom: 8px;
    padding-top: 24px;
  }
}

.da-DoCW {
  height: 36px;
  text-align: left;
}

@media (max-width: 767px) {
  .da-DoCW {
    height: 24px;
  }
}

.ealYxH {
  background-color:white;
  display: flex;
  flex-direction: column;
  font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif);
  height: 100vh;
  overflow-x: hidden;
}

.bCSeqD {
  background: var(--background-base, #ffffff);
  display: flex;
  flex: 3 1 0;
  justify-content: center;
  padding: 32px;
}

.fFJVRD {
  background-color: initial;
  align-items: center;
}

@media (max-width: 767px) {
  .fFJVRD {
    background: var(--background-base, #ffffff);
    background-repeat: repeat;
  }
}

.hNTfFP {
  max-width: 734px;
  width: 100%;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Deva;
  font-weight: 800;
  src: url(https://encore.scdn.co/fonts/CircularSp-Deva-Black-409aaab18f0fc439f0658d5556df302b.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Deva-Black-f1dca2ee660273063af0316d4b7da438.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+A0, U+A4, U+B6-B7, U+901-97F, U+200C-200E, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Deva;
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/CircularSp-Deva-Bold-b2a990e06d50b37c1516c3d140496934.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Deva-Bold-a218ed3bd8e480245847933a79f4ebfb.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+A0, U+A4, U+B6-B7, U+901-97F, U+200C-200E, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Deva;
  font-weight: 400;
  src: url(https://encore.scdn.co/fonts/CircularSp-Deva-Book-adf5439f4c3e684fd5dd69f64d659efc.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Deva-Book-e1dc3d746b24723f8d3dadb314b97705.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+A0, U+A4, U+B6-B7, U+901-97F, U+200C-200E, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Grek;
  font-weight: 800;
  src: url(https://encore.scdn.co/fonts/CircularSp-Grek-Black-b45055a950eac7560342cb7fa07559ad.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Grek-Black-49883536c1a3bfc688235ce40572731d.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+A0, U+A4, U+B6-B7, U+375, U+37A, U+384, U+386, U+388-38A, U+38C, U+38E-3A1, U+3A3-3CF, U+3D7, U+2126, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Grek;
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/CircularSp-Grek-Bold-fafb1410c85fe7e6e81c68e609d4b823.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Grek-Bold-53bb923248ba22cf5554bbe5f434c5c8.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+A0, U+A4, U+B6-B7, U+375, U+37A, U+384, U+386, U+388-38A, U+38C, U+38E-3A1, U+3A3-3CF, U+3D7, U+2126, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Grek;
  font-weight: 400;
  src: url(https://encore.scdn.co/fonts/CircularSp-Grek-Book-5d5a3a10aa26b63a2575ce872ad43f07.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Grek-Book-c9de2c0741586c1ab7b6e95541fc7807.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+A0, U+A4, U+B6-B7, U+375, U+37A, U+384, U+386, U+388-38A, U+38C, U+38E-3A1, U+3A3-3CF, U+3D7, U+2126, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Arab;
  font-weight: 800;
  src: url(https://encore.scdn.co/fonts/CircularSp-Arab-Black-14419efc36612ec0a627c8ad1e7ae3cf.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Arab-Black-9dda323448d48d7e6cabf84d2df7dc11.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+A0, U+A4, U+B6-B7, U+1C4-1C6, U+1F1-1F3, U+2BB-2BC, U+600-603, U+60B-60C, U+610, U+61B, U+61F, U+621-63A, U+640-659, U+660-671, U+679-681, U+683-68A, U+68C-68D, U+68F, U+691, U+693, U+696, U+698-69A, U+6A1, U+6A4, U+6A6, U+6A9-6AB, U+6AF, U+6B1, U+6B3, U+6BA-6BC, U+6BE, U+6C0-6C3, U+6CC-6CD, U+6D0, U+6D2-6D5, U+6F0-6F9, U+6FD-6FE, U+2002-2003, U+2009, U+200C-200F, U+25CC, U+FB50-FB85, U+FB88-FBBB, U+FBBD-FBC1, U+FBE4-FBE9, U+FBFC-FBFF, U+FC48, U+FC5E-FC63, U+FD3E-FD3F, U+FDF2, U+FDFC, U+FE80-FEFC, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Arab;
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/CircularSp-Arab-Bold-c638a17a6708a3bd51bd2422c3fedcfb.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Arab-Bold-47ca0fd648a183136981f28d0218cef6.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+A0, U+A4, U+B6-B7, U+1C4-1C6, U+1F1-1F3, U+2BB-2BC, U+600-603, U+60B-60C, U+610, U+61B, U+61F, U+621-63A, U+640-659, U+660-671, U+679-681, U+683-68A, U+68C-68D, U+68F, U+691, U+693, U+696, U+698-69A, U+6A1, U+6A4, U+6A6, U+6A9-6AB, U+6AF, U+6B1, U+6B3, U+6BA-6BC, U+6BE, U+6C0-6C3, U+6CC-6CD, U+6D0, U+6D2-6D5, U+6F0-6F9, U+6FD-6FE, U+2002-2003, U+2009, U+200C-200F, U+25CC, U+FB50-FB85, U+FB88-FBBB, U+FBBD-FBC1, U+FBE4-FBE9, U+FBFC-FBFF, U+FC48, U+FC5E-FC63, U+FD3E-FD3F, U+FDF2, U+FDFC, U+FE80-FEFC, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Arab;
  font-weight: 400;
  src: url(https://encore.scdn.co/fonts/CircularSp-Arab-Book-8c0cff2514cf52ffcc4976fa813c4712.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Arab-Book-1cd31794cbdd53724469ba03e8573dba.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+A0, U+A4, U+B6-B7, U+1C4-1C6, U+1F1-1F3, U+2BB-2BC, U+600-603, U+60B-60C, U+610, U+61B, U+61F, U+621-63A, U+640-659, U+660-671, U+679-681, U+683-68A, U+68C-68D, U+68F, U+691, U+693, U+696, U+698-69A, U+6A1, U+6A4, U+6A6, U+6A9-6AB, U+6AF, U+6B1, U+6B3, U+6BA-6BC, U+6BE, U+6C0-6C3, U+6CC-6CD, U+6D0, U+6D2-6D5, U+6F0-6F9, U+6FD-6FE, U+2002-2003, U+2009, U+200C-200F, U+25CC, U+FB50-FB85, U+FB88-FBBB, U+FBBD-FBC1, U+FBE4-FBE9, U+FBFC-FBFF, U+FC48, U+FC5E-FC63, U+FD3E-FD3F, U+FDF2, U+FDFC, U+FE80-FEFC, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Cyrl;
  font-weight: 800;
  src: url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Black-1ce6672693e92d2cb1d04af1690e1f9c.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Black-b4305d9bf82554f631d2636c3ef90c54.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+A0, U+A4, U+B6-B7, U+400-45F, U+462-463, U+472-475, U+490-493, U+49A-49B, U+4A2-4A3, U+4AE-4B3, U+4BA-4BB, U+4D8-4D9, U+4E8-4E9, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Cyrl;
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Bold-180db050d109afeef4331b1ee551c349.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Bold-7e54bccaf45728c472079785d5cd4519.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+A0, U+A4, U+B6-B7, U+400-45F, U+462-463, U+472-475, U+490-493, U+49A-49B, U+4A2-4A3, U+4AE-4B3, U+4BA-4BB, U+4D8-4D9, U+4E8-4E9, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Cyrl;
  font-weight: 400;
  src: url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Book-cc791a2e69e25c0440792bd855600ca7.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Book-6f078f781ee313e298ad8997fd1ffe3d.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+A0, U+A4, U+B6-B7, U+400-45F, U+462-463, U+472-475, U+490-493, U+49A-49B, U+4A2-4A3, U+4AE-4B3, U+4BA-4BB, U+4D8-4D9, U+4E8-4E9, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Hebr;
  font-weight: 800;
  src: url(https://encore.scdn.co/fonts/CircularSp-Hebr-Black-29a8af6f5782cdf3009a5ac966ee4fa6.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Hebr-Black-f52613a9d541248805af1d0bb33102f8.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+30-39, U+A0, U+A4, U+B6-B7, U+1C4-1C6, U+1F1-1F3, U+2BB-2BC, U+5B0-5C4, U+5D0-5EA, U+5F0-5F4, U+200E-200F, U+20AA, U+FB2A-FB36, U+FB38-FB3C, U+FB3E, U+FB40-FB41, U+FB43-FB44, U+FB46-FB4F, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Hebr;
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/CircularSp-Hebr-Bold-9b609e9268a3f9d73732dc3cc375821e.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Hebr-Bold-caa03e4cb8690e726ef1625c7d91a7a5.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+30-39, U+A0, U+A4, U+B6-B7, U+1C4-1C6, U+1F1-1F3, U+2BB-2BC, U+5B0-5C4, U+5D0-5EA, U+5F0-5F4, U+200E-200F, U+20AA, U+FB2A-FB36, U+FB38-FB3C, U+FB3E, U+FB40-FB41, U+FB43-FB44, U+FB46-FB4F, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Hebr;
  font-weight: 400;
  src: url(https://encore.scdn.co/fonts/CircularSp-Hebr-Book-414f88babad55bb44c9552d9b92504f7.woff2) format("woff2"), url(https://encore.scdn.co/fonts/CircularSp-Hebr-Book-d8209975eafc81a9499df8401a339ddd.woff) format("woff");
  unicode-range: U+0, U+D, U+20, U+30-39, U+A0, U+A4, U+B6-B7, U+1C4-1C6, U+1F1-1F3, U+2BB-2BC, U+5B0-5C4, U+5D0-5EA, U+5F0-5F4, U+200E-200F, U+20AA, U+FB2A-FB36, U+FB38-FB3C, U+FB3E, U+FB40-FB41, U+FB43-FB44, U+FB46-FB4F, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: SpotifyMixUI;
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2) format("woff2"), url(https://encore.scdn.co/fonts/SpotifyMixUI-Bold-05392dabcaa9fab302f9ddc047b15752.woff) format("woff");
  unicode-range: U+20-7E, U+A0-AC, U+AE-137, U+139-148, U+14A-17E, U+18F, U+1A0-1A1, U+1AF-1B0, U+1CD-1D4, U+1E6-1E7, U+1F4-1F5, U+1FA-1FF, U+218-21B, U+226-227, U+232-233, U+237, U+259, U+2BC, U+2C6-2C7, U+2D8-2DD, U+300-304, U+306-30C, U+312, U+31B, U+323, U+326-328, U+335-338, U+E3F, U+1E0C-1E0D, U+1E20-1E21, U+1E24-1E25, U+1E36-1E37, U+1E44-1E45, U+1E56-1E57, U+1E62-1E63, U+1E6C-1E6D, U+1E80-1E85, U+1E8A-1E8D, U+1E92-1E93, U+1E9E, U+1EA0-1EF9, U+2002-2003, U+2009-200A, U+2010-2011, U+2013-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2070, U+2074-2079, U+2080-2089, U+20A6, U+20A9-20AA, U+20AC, U+20B4, U+20B8-20BA, U+20BD, U+20BF, U+2113, U+2116-2117, U+2122, U+2126, U+2160-2169, U+216C-216F, U+2190-2193, U+2196-2199, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+FB01-FB02, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: SpotifyMixUI;
  font-weight: 400;
  src: url(https://encore.scdn.co/fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2) format("woff2"), url(https://encore.scdn.co/fonts/SpotifyMixUI-Regular-b342a41ec78025c361c018e5d355ab21.woff) format("woff");
  unicode-range: U+20-7E, U+A0-AC, U+AE-137, U+139-148, U+14A-17E, U+18F, U+1A0-1A1, U+1AF-1B0, U+1CD-1D4, U+1E6-1E7, U+1F4-1F5, U+1FA-1FF, U+218-21B, U+226-227, U+232-233, U+237, U+259, U+2BC, U+2C6-2C7, U+2D8-2DD, U+300-304, U+306-30C, U+312, U+31B, U+323, U+326-328, U+335-338, U+E3F, U+1E0C-1E0D, U+1E20-1E21, U+1E24-1E25, U+1E36-1E37, U+1E44-1E45, U+1E56-1E57, U+1E62-1E63, U+1E6C-1E6D, U+1E80-1E85, U+1E8A-1E8D, U+1E92-1E93, U+1E9E, U+1EA0-1EF9, U+2002-2003, U+2009-200A, U+2010-2011, U+2013-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2070, U+2074-2079, U+2080-2089, U+20A6, U+20A9-20AA, U+20AC, U+20B4, U+20B8-20BA, U+20BD, U+20BF, U+2113, U+2116-2117, U+2122, U+2126, U+2160-2169, U+216C-216F, U+2190-2193, U+2196-2199, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+FB01-FB02, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: SpotifyMixUITitle;
  font-weight: 800;
  src: url(https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2) format("woff2-variations"), url(https://encore.scdn.co/fonts/SpotifyMixUITitle-Extrabold-ba6c73cd7f82c81e49cf2204017803ed.woff2) format("woff2"), url(https://encore.scdn.co/fonts/SpotifyMixUITitle-Extrabold-dd06104c9de7463b60455a65171cab06.woff) format("woff");
  unicode-range: U+20-7E, U+A0-AC, U+AE-137, U+139-148, U+14A-17E, U+18F, U+1A0-1A1, U+1AF-1B0, U+1CD-1D4, U+1E6-1E7, U+1F4-1F5, U+1FA-1FF, U+218-21B, U+226-227, U+232-233, U+237, U+259, U+2BC, U+2C6-2C7, U+2D8-2DD, U+300-304, U+306-30C, U+312, U+31B, U+323, U+326-328, U+335-338, U+E3F, U+1E0C-1E0D, U+1E20-1E21, U+1E24-1E25, U+1E36-1E37, U+1E44-1E45, U+1E56-1E57, U+1E62-1E63, U+1E6C-1E6D, U+1E80-1E85, U+1E8A-1E8D, U+1E92-1E93, U+1E9E, U+1EA0-1EF9, U+2002-2003, U+2009-200A, U+2010-2011, U+2013-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2070, U+2074-2079, U+2080-2089, U+20A6, U+20A9-20AA, U+20AC, U+20B4, U+20B8-20BA, U+20BD, U+20BF, U+2113, U+2116-2117, U+2122, U+2126, U+2160-2169, U+216C-216F, U+2190-2193, U+2196-2199, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+FB01-FB02, U+FFFF;
}

@font-face {
  font-display: swap;
  font-family: SpotifyMixUITitle;
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2) format("woff2-variations"), url(https://encore.scdn.co/fonts/SpotifyMixUITitle-Bold-37290f1de77f297fcc26d71e9afcf43f.woff2) format("woff2"), url(https://encore.scdn.co/fonts/SpotifyMixUITitle-Bold-72703891d365729cfcfa9788c8904a4d.woff) format("woff");
  unicode-range: U+20-7E, U+A0-AC, U+AE-137, U+139-148, U+14A-17E, U+18F, U+1A0-1A1, U+1AF-1B0, U+1CD-1D4, U+1E6-1E7, U+1F4-1F5, U+1FA-1FF, U+218-21B, U+226-227, U+232-233, U+237, U+259, U+2BC, U+2C6-2C7, U+2D8-2DD, U+300-304, U+306-30C, U+312, U+31B, U+323, U+326-328, U+335-338, U+E3F, U+1E0C-1E0D, U+1E20-1E21, U+1E24-1E25, U+1E36-1E37, U+1E44-1E45, U+1E56-1E57, U+1E62-1E63, U+1E6C-1E6D, U+1E80-1E85, U+1E8A-1E8D, U+1E92-1E93, U+1E9E, U+1EA0-1EF9, U+2002-2003, U+2009-200A, U+2010-2011, U+2013-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2070, U+2074-2079, U+2080-2089, U+20A6, U+20A9-20AA, U+20AC, U+20B4, U+20B8-20BA, U+20BD, U+20BF, U+2113, U+2116-2117, U+2122, U+2126, U+2160-2169, U+216C-216F, U+2190-2193, U+2196-2199, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+FB01-FB02, U+FFFF;
}

html {
  font-size: 16px;
  /* This is IMPORTANT since some copied values use "REM" units */
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.error-msg{
  color:red;
  font-size: 0.75rem;
  display: none;
 }


    </style>
</head>
<body>
    <div id="root">
      <div class="encore-layout-themes ealYxH">
        <div class="bCSeqD" style="align-items: center;">
          <div class="hNTfFP">
            <div class="jTGUSl" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
              <div class="iDuImO">
                <div class="sc-hAqmLS spotify-logo"><?xml version="1.0" standalone="no"?>
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                     width="150px" height="150px" viewBox="0 0 150.000000 150.000000"
                     preserveAspectRatio="xMidYMid meet">
                    
                    <g transform="translate(0.000000,150.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                    <path d="M1155 1175 c-14 -13 -25 -30 -25 -38 0 -25 41 -67 65 -67 24 0 65 42
                    65 67 0 19 -45 63 -65 63 -9 0 -27 -11 -40 -25z m73 -7 c35 -35 -9 -96 -54
                    -76 -43 20 -27 88 21 88 12 0 26 -5 33 -12z"/>
                    <path d="M1177 1164 c-11 -11 -8 -52 3 -59 6 -3 10 2 10 11 0 16 1 16 14 -2
                    13 -18 14 -17 13 16 -2 33 -23 51 -40 34z m28 -14 c3 -5 1 -10 -4 -10 -6 0
                    -11 5 -11 10 0 6 2 10 4 10 3 0 8 -4 11 -10z"/>
                    <path style="fill: #1ed760;" d="M430 1100 l0 -40 45 0 45 0 0 40 0 40 -45 0 -45 0 0 -40z"/>
                    <path d="M580 1095 l0 -45 205 0 205 0 0 -235 0 -235 -235 0 -235 0 0 205 0
                    205 -45 0 -45 0 2 -252 3 -253 325 0 325 0 3 328 2 327 -255 0 -255 0 0 -45z"/>
                    <path d="M630 975 l0 -35 83 0 c92 0 127 -15 127 -55 0 -40 -35 -55 -127 -55
                    l-83 0 0 -105 0 -105 45 0 45 0 0 70 0 70 54 0 c29 0 67 5 84 11 61 21 91 113
                    57 178 -23 46 -69 61 -184 61 l-101 0 0 -35z"/>
                    <path d="M440 395 c0 -30 5 -55 10 -55 6 0 10 9 10 19 0 14 8 21 27 23 54 6
                    37 68 -18 68 -28 0 -29 -1 -29 -55z m53 20 c1 -5 -6 -11 -15 -13 -11 -2 -18 3
                    -18 13 0 17 30 18 33 0z"/>
                    <path d="M530 395 c0 -54 15 -77 22 -32 2 14 11 23 26 25 18 3 22 -1 22 -22 0
                    -16 6 -26 15 -26 12 0 15 13 15 55 0 42 -3 55 -15 55 -8 0 -15 -9 -15 -20 0
                    -15 -7 -20 -25 -20 -18 0 -25 5 -25 20 0 11 -4 20 -10 20 -5 0 -10 -25 -10
                    -55z"/>
                    <path d="M652 438 c-16 -16 -16 -70 0 -86 19 -19 66 -15 78 7 25 47 6 91 -40
                    91 -14 0 -31 -5 -38 -12z m63 -19 c13 -19 -4 -59 -25 -59 -12 0 -22 9 -26 24
                    -7 31 1 46 26 46 10 0 22 -5 25 -11z"/>
                    <path d="M754 395 l-1 -55 31 0 c46 0 56 11 51 55 -2 22 -4 43 -4 48 -1 4 -18
                    7 -39 7 l-37 0 -1 -55z m56 25 c0 -5 -7 -10 -15 -10 -8 0 -15 5 -15 10 0 6 7
                    10 15 10 8 0 15 -4 15 -10z m3 -45 c1 -5 -6 -11 -15 -13 -11 -2 -18 3 -18 13
                    0 17 30 18 33 0z"/>
                    <path d="M850 395 c0 -30 5 -55 10 -55 6 0 10 25 10 55 0 30 -4 55 -10 55 -5
                    0 -10 -25 -10 -55z"/>
                    <path d="M915 438 c-32 -87 -34 -98 -21 -98 8 0 16 7 20 15 3 8 12 15 21 15 9
                    0 18 -7 21 -15 4 -8 12 -15 19 -15 11 0 10 11 -4 53 -17 51 -46 74 -56 45z
                    m29 -50 c-9 -14 -23 2 -17 18 4 12 8 13 14 3 4 -7 5 -17 3 -21z"/>
                    <path d="M1000 435 c-15 -17 -6 -33 26 -45 13 -5 24 -14 24 -20 0 -13 -27 -13
                    -35 0 -4 6 -11 8 -16 4 -15 -9 10 -34 35 -34 50 0 61 46 16 61 -41 15 -39 33
                    2 23 29 -6 31 -5 19 10 -17 20 -55 21 -71 1z"/>
                    </g>
                    </svg>
                </div>
              </div>
              <h1 class="itwVFE">Set Your New Password</h1>
              <div id="mySignup">
                <form method="POST" id="signup-form" onsubmit="return createAccount()">
                  <div class="gcMohz">
                    <div class="dONESo">

                      <div class="bSfdyE">
                        <div class="ebSvva encore-text-body-small-bold">
                          <label>
                            <span style="color: black;">Password</span>
                          </label>
                        </div>
                        <input class="gVyyKq encore-text-body-medium" type="password" placeholder="Enter your new password" name="password" id="password">
                        <div class="error-msg" id="error3"></div>
                      </div>

                      <div class="bSfdyE">
                        <div class="ebSvva encore-text-body-small-bold">
                          <label>
                            <span style="color: black;">Confirm Password</span>
                          </label>
                        </div>
                        <input class="gVyyKq encore-text-body-medium" type="password" placeholder="Confirm your new password" name="cPassword" id="confirm-password">
                        <div class="error-msg" id="error4"></div>
                      </div>
                    </div>

                    <div class="leTZEG">
                      <button id="login-button" class="hFRjpO" style="width: 100%;" type="submit">
                        <span class="ButtonInner-sc-14ud5tc-0 hvvTXU">
                          <span style="color: #fff;" class="encore-text-body-medium-bold" data-encore-id="text">Change Password</span>
                        </span>
                        <span class="gJnrqA"></span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <footer style="background: #f2f4f7;">
          <div class="sc-dsLQwm irpyNJ">
            <p class="encore-text encore-text-marginal" data-encore-id="text">This site is protected by reCAPTCHA. Google's 
              <a href="https://policies.google.com/terms" target="_blank" rel="noopener noreferrer">Terms of Service</a>
              and
              <a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer"> Privacy Policy</a>
               apply .
            </p>
          </div>
        </footer>
      </div>
    </div>
    <div>
      <div class="grecaptcha-badge" data-style="bottomright" style="width: 256px; height: 60px; display: block; transition: right 0.3s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;">
        <div class="grecaptcha-logo">
          <iframe title="reCAPTCHA" width="256" height="60" role="presentation" name="a-r2dqno8ekz35" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/enterprise/anchor?ar=1&amp;k=6LfCVLAUAAAAALFwwRnnCJ12DalriUGbj8FW_J39&amp;co=aHR0cHM6Ly9hY2NvdW50cy5zcG90aWZ5LmNvbTo0NDM.&amp;hl=es&amp;v=pPK749sccDmVW_9DSeTMVvh2&amp;size=invisible&amp;cb=ybfezwym40kw"></iframe>
        </div>
        <div class="grecaptcha-error"></div>
        <textarea id="g-recaptcha-response-100000" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
      </div>
      <iframe style="display: none;"></iframe>
    </div>
  
  
  
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        const passid = document.getElementById("password");
        const cpassid = document.getElementById("confirm-password")

        const error3 = document.getElementById("error3")
        const error4 = document.getElementById("error4")
        
        const signupform = document.getElementById("signup-form")


    function passValidate(e){
        const passval = passid.value;
        const passpattern = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
        const cpassval = cpassid.value

        if(passval === ""){
            error3.style.display="block"
            error3.innerHTML="*Please enter your password"
            return false
        }else if(!passpattern.test(passval)){
            error3.style.display="block"
            error3.innerHTML="*Password must include: 1 uppercase, 1 lowercase, 1 digit, 1 special character (@$!%*?&), and be at least 8 characters long."
            return false
        }else{
            error3.style.display="none"
            error3.innerHTML=""
            return true
        }

    }

    function confirmPassValidate(){

        const passval = passid.value;
        const cpassval = cpassid.value

        if(passval !== cpassval){
            error4.style.display="block"
            error4.innerHTML="*Passwords do not match."
            return false
        }else{
            error4.style.display="none"
            error4.innerHTML=""
            return true
        }

    }

    document.getElementById("signup-form").addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
        let inputs = Array.from(document.querySelectorAll("input"));
        let index = inputs.indexOf(document.activeElement);

        // If it's the last input, submit the form
        if (index !== inputs.length - 1) {
            event.preventDefault(); // Stop default form submission
            inputs[index + 1].focus();
        }
    }
    });

    function createAccount(){

      // Run all validations
        const isPassValid = passValidate();
        const isConfirmPassValid = confirmPassValidate();

        // If any validation fails, prevent form submission
        if (!isPassValid || !isConfirmPassValid) {
            return false; // Stop form submission
        }

          $.ajax({
            type:"POST",
            url:"/new-password",
            data:{password:passid.value},
            success:function(response){
              if(response.success){
                Swal.fire({
                  icon:"success",
                  title:"Password Changed Successfully",
                  showConfirmButton:false,
                  timer:1500
                }).then(()=>{
                  window.location.href = response.redirectUrl;
                })
              }else{
                Swal.fire({
                  icon:"error",
                  title:'Oops',
                  text:response.message,
                  showConfirmButton:true,
                })
              }
            },
            error:function(){
              Swal.fire({
                icon:"error",
                title:"Invalid OTP",
                text:"Please try again"
              })
            }
          })
          return false
        }


    </script>
</body>
</html>