<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/otp.css" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>
    <div id="root">
      <div class="encore-layout-themes ealYxH">
        <div class="bCSeqD" style="align-items: center;">
          <div class="hNTfFP">
            <div class="jTGUSl" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
              <div class="iDuImO">
                <div class="sc-hAqmLS spotify-logo"><?xml version="1.0" standalone="no"?>
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                     width="150px" height="150px" viewBox="0 0 150.000000 150.000000"
                     preserveAspectRatio="xMidYMid meet">
                    
                    <g transform="translate(0.000000,150.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                    <path d="M1155 1175 c-14 -13 -25 -30 -25 -38 0 -25 41 -67 65 -67 24 0 65 42
                    65 67 0 19 -45 63 -65 63 -9 0 -27 -11 -40 -25z m73 -7 c35 -35 -9 -96 -54
                    -76 -43 20 -27 88 21 88 12 0 26 -5 33 -12z"/>
                    <path d="M1177 1164 c-11 -11 -8 -52 3 -59 6 -3 10 2 10 11 0 16 1 16 14 -2
                    13 -18 14 -17 13 16 -2 33 -23 51 -40 34z m28 -14 c3 -5 1 -10 -4 -10 -6 0
                    -11 5 -11 10 0 6 2 10 4 10 3 0 8 -4 11 -10z"/>
                    <path style="fill: #1ed760;" d="M430 1100 l0 -40 45 0 45 0 0 40 0 40 -45 0 -45 0 0 -40z"/>
                    <path d="M580 1095 l0 -45 205 0 205 0 0 -235 0 -235 -235 0 -235 0 0 205 0
                    205 -45 0 -45 0 2 -252 3 -253 325 0 325 0 3 328 2 327 -255 0 -255 0 0 -45z"/>
                    <path d="M630 975 l0 -35 83 0 c92 0 127 -15 127 -55 0 -40 -35 -55 -127 -55
                    l-83 0 0 -105 0 -105 45 0 45 0 0 70 0 70 54 0 c29 0 67 5 84 11 61 21 91 113
                    57 178 -23 46 -69 61 -184 61 l-101 0 0 -35z"/>
                    <path d="M440 395 c0 -30 5 -55 10 -55 6 0 10 9 10 19 0 14 8 21 27 23 54 6
                    37 68 -18 68 -28 0 -29 -1 -29 -55z m53 20 c1 -5 -6 -11 -15 -13 -11 -2 -18 3
                    -18 13 0 17 30 18 33 0z"/>
                    <path d="M530 395 c0 -54 15 -77 22 -32 2 14 11 23 26 25 18 3 22 -1 22 -22 0
                    -16 6 -26 15 -26 12 0 15 13 15 55 0 42 -3 55 -15 55 -8 0 -15 -9 -15 -20 0
                    -15 -7 -20 -25 -20 -18 0 -25 5 -25 20 0 11 -4 20 -10 20 -5 0 -10 -25 -10
                    -55z"/>
                    <path d="M652 438 c-16 -16 -16 -70 0 -86 19 -19 66 -15 78 7 25 47 6 91 -40
                    91 -14 0 -31 -5 -38 -12z m63 -19 c13 -19 -4 -59 -25 -59 -12 0 -22 9 -26 24
                    -7 31 1 46 26 46 10 0 22 -5 25 -11z"/>
                    <path d="M754 395 l-1 -55 31 0 c46 0 56 11 51 55 -2 22 -4 43 -4 48 -1 4 -18
                    7 -39 7 l-37 0 -1 -55z m56 25 c0 -5 -7 -10 -15 -10 -8 0 -15 5 -15 10 0 6 7
                    10 15 10 8 0 15 -4 15 -10z m3 -45 c1 -5 -6 -11 -15 -13 -11 -2 -18 3 -18 13
                    0 17 30 18 33 0z"/>
                    <path d="M850 395 c0 -30 5 -55 10 -55 6 0 10 25 10 55 0 30 -4 55 -10 55 -5
                    0 -10 -25 -10 -55z"/>
                    <path d="M915 438 c-32 -87 -34 -98 -21 -98 8 0 16 7 20 15 3 8 12 15 21 15 9
                    0 18 -7 21 -15 4 -8 12 -15 19 -15 11 0 10 11 -4 53 -17 51 -46 74 -56 45z
                    m29 -50 c-9 -14 -23 2 -17 18 4 12 8 13 14 3 4 -7 5 -17 3 -21z"/>
                    <path d="M1000 435 c-15 -17 -6 -33 26 -45 13 -5 24 -14 24 -20 0 -13 -27 -13
                    -35 0 -4 6 -11 8 -16 4 -15 -9 10 -34 35 -34 50 0 61 46 16 61 -41 15 -39 33
                    2 23 29 -6 31 -5 19 10 -17 20 -55 21 -71 1z"/>
                    </g>
                    </svg>
                </div>
              </div>
              <h2 class="itwVFE">Enter the 6-digit code sent to your email</h2>
              <form method="post" id="otp-form" onsubmit="return validateOTP()">
                <div class="input-field">
                  <input type="number" />
                  <input type="number" disabled />
                  <input type="number" disabled />
                  <input type="number" disabled />
                  <input type="number" disabled />
                  <input type="number" disabled />
        
                  <input type="hidden" name="otp" id="otp" />
                </div>
                <p class="timer">Time remaining: <span id="countdown">01:00</span></p>
                <div class="gcMohz">
                    <div class="leTZEG" style="padding-bottom: 0;">
                      <button id="verify-otp" class="hFRjpO verify" style="width: 100%;" type="submit">
                        <span class="ButtonInner-sc-14ud5tc-0 hvvTXU verify">
                          <span style="color: #fff;" class="encore-text-body-medium-bold" data-encore-id="text">Verify OTP</span>
                        </span>
                        <span class="gJnrqA"></span>
                      </button>
                    </div>
                    <div class="leTZEG">
                        <button id="resend-otp" class="hFRjpO resend" style="width: 100%;" type="button" disabled>
                          <span class="ButtonInner-sc-14ud5tc-0 hvvTXU resend">
                            <span style="color: #fff;" class="encore-text-body-medium-bold" data-encore-id="text">Resend OTP</span>
                          </span>
                          <span class="gJnrqA"></span>
                        </button>
                      </div>
                  </div> 
            </form> 
              <div id="sign-up-section" class="sc-dorvvM ewqcub">
                <h2 variant="bodyMedium" class="sc-cBYhjr kyvYle">
                  <span class="encore-text encore-text-body-medium encore-internal-color-text-subdued" data-encore-id="text">Already have an account?</span>
                  <a href="/login" id="sign-up-link" data-testid="signup-btn-link" class="Link-sc-k8gsk-0 cgOuFc sc-kTYLvb klSGTe" data-encore-id="textLink">
                    <span class="encore-text encore-text-body-medium sc-dJDBYC ghuOx" data-encore-id="text">Log in here</span>
                  </a>
                </h2>
              </div>
            </div>
          </div>
        </div>
        <footer style="background: #f2f4f7;">
          <div class="sc-dsLQwm irpyNJ">
            <p class="encore-text encore-text-marginal" data-encore-id="text">This site is protected by reCAPTCHA. Google's 
              <a href="https://policies.google.com/terms" target="_blank" rel="noopener noreferrer">Terms of Service</a>
              and
              <a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer"> Privacy Policy</a>
               apply .
            </p>
          </div>
        </footer>
      </div>
    </div>
    <div>
      <div class="grecaptcha-badge" data-style="bottomright" style="width: 256px; height: 60px; display: block; transition: right 0.3s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;">
        <div class="grecaptcha-logo">
          <iframe title="reCAPTCHA" width="256" height="60" role="presentation" name="a-r2dqno8ekz35" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/enterprise/anchor?ar=1&amp;k=6LfCVLAUAAAAALFwwRnnCJ12DalriUGbj8FW_J39&amp;co=aHR0cHM6Ly9hY2NvdW50cy5zcG90aWZ5LmNvbTo0NDM.&amp;hl=es&amp;v=pPK749sccDmVW_9DSeTMVvh2&amp;size=invisible&amp;cb=ybfezwym40kw"></iframe>
        </div>
        <div class="grecaptcha-error"></div>
        <textarea id="g-recaptcha-response-100000" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
      </div>
      <iframe style="display: none;"></iframe>
    </div>
  
  
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        
        const inputs = document.querySelectorAll("input"),
        verifyButton = document.getElementById("verify-otp"),
        resendButton = document.getElementById("resend-otp"),
        countdownElement = document.getElementById("countdown");

        let timer;
        let timeLeft = 60; // 1 minute in seconds

        // Function to start the countdown timer
        function startTimer() {
        timer = setInterval(() => {
            timeLeft--;
            countdownElement.textContent = `00:${timeLeft.toString().padStart(2, "0")}`;

            if (timeLeft <= 0) {
            clearInterval(timer);
            countdownElement.textContent = "00:00";
            resendButton.disabled = false;
            resendButton.classList.add("active");
            }
        }, 1000);
        }

        // Iterate over all inputs
        inputs.forEach((input, index1) => {
        input.addEventListener("keyup", (e) => {
            const currentInput = input,
            nextInput = input.nextElementSibling,
            prevInput = input.previousElementSibling;

            // If the value has more than one character, clear it
            if (currentInput.value.length > 1) {
            currentInput.value = "";
            return;
            }

            // If the next input is disabled and the current value is not empty, enable the next input and focus on it
            if (nextInput && nextInput.hasAttribute("disabled") && currentInput.value !== "") {
            nextInput.removeAttribute("disabled");
            nextInput.focus();
            }

            // If the backspace key is pressed
            if (e.key === "Backspace") {
            inputs.forEach((input, index2) => {
                if (index1 <= index2 && prevInput) {
                input.setAttribute("disabled", true);
                input.value = "";
                prevInput.focus();
                }
            });
            }

            // If the sixth input (index 5) is not empty and has no disabled attribute, enable the verify button
            if (!inputs[5].disabled && inputs[5].value !== "") {
            verifyButton.classList.add("active");
            return;
            }
            verifyButton.classList.remove("active");
        });
        });

        // Focus the first input on window load
        window.addEventListener("load", () => inputs[0].focus());

        // Start the timer when the page loads
        startTimer();

        // Resend OTP button functionality
        
        
        
        
        
        function validateOTP(){
          const otpInput = Array.from(inputs).map(input => input.value).join('');

          document.getElementById("otp").value = otpInput;

          $.ajax({
            type:"POST",
            url:"/verify-otp",
            data:{otp:otpInput},
            success:function(response){
              if(response.success){
                Swal.fire({
                  icon:"success",
                  title:"OTP Verified Successfully",
                  showConfirmButton:false,
                  timer:1500
                }).then(()=>{
                  window.location.href = response.redirectUrl;
                })
              }else{
                Swal.fire({
                  icon:"error",
                  title:'Error',
                  text:response.message,
                })
              }
            },
            error:function(){
              Swal.fire({
                icon:"error",
                title:"Invalid OTP",
                text:"Please try again"
              })
            }
          })
          return false
        }
        
        
        function resendOTP(){
          clearInterval(timer);
          timeLeft = 60;
          countdownElement.textContent = "01:00";
          resendButton.disabled = true;
          resendButton.classList.remove("active");
          startTimer();

          $.ajax({
                type: "POST",
                url: "/resend-otp",
                success: function(response) {
                    if (response.success) {
                        Swal.fire({
                            icon: "success",
                            title: "OTP Resend Successfully",
                            showConfirmButton: false,
                            timer: 1500,
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: response.message,
                        });
                    }
                }
            });

        }
    
        


        resendButton.addEventListener("click", () => {
          resendOTP();
        });

    </script>
</body>
</html>